@media screen and (max-width: 980px){
  body{
      color: #777777;
      background-color: #ede6da;
      background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
      /*height: auto;*/
  }
  
  .container{
    margin: auto;
      width: 960px;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      position: relative;
      min-height: 100%
     } 
   
  
  
  p{
     font-size: 20px;
     text-align: justify;
     display:inline;
  }
  
  b { 
      font-weight: bold !important;
  }
  
  .divP{
     
      margin-left: 6px;
      line-height: 1.8;
  }
  
  .iconP{
          margin-left: 315px;
  }
  
  .iconA{
      width: 100%;
      text-align: center;
  }
  
  a img{
      width: 50px;
  }
    
  
  header{
  background: #ffffff;
  border-bottom: 3px #cccccc solid !important;
  height: 11%;
  width: 100%;
  }
  
  header h1{
    float: left;
      font-family: 'Georgia', Times, Times New Roman, serif;
      font-size: 40px;
      font-weight: bold;
      background: #4aaaa5;
      padding: 15px;
      color: white;
  }
  
  .classH1{
    font-family: 'Georgia', Times, Times New Roman, serif;
      font-size: 34px;
      font-weight: bold;
      padding: 9px;
      color: #4aaaa5;
      }
  
  .classH1_Connect{
    font-size: 22px;
      text-align: center;
      padding-top: 31px;
  }
  
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden
      }
  
  li {
      float: right;
  
      }
  
  li a {
      display: block;
      text-align: center;
      padding: 26px;
      text-decoration: none;
    color: #777777;
    font-size: 12.5px;
          
  }
  .classBorder{
    border-left: 1px solid #cccccc;
  }
  
  li a:hover {
      background-color: #4aaaa5;
      color: white;
  }
  
  hr{
    border: 1px #80808038 solid !important;
    width: 99%;
      margin-bottom: 31px;
  }
  
  .articleL{
    float: left;
    background: white;
    margin: 18px 0px;
    width: 650px;
      padding: 10px;
  }
  
  .articleR{
    
    float: right;
    background: white;
    margin-top: 18px;
      margin-left: 10px;
    width: 270px;
      padding-bottom: 18px;
     }
  
  .picMy{
    height: 50%;
      width: 40%;
      border-radius: 12px;
      float:left;
      margin-right: 12px;
  }
  
  
  h3{
      color:  #9c9ba6;
      padding-top: 25px !important;
  }
  
  footer{
      clear: both;
      margin: 0;
      width: 100%;
      height: 9%;
      background: #666666;
      text-align: center;
      border-top: 5px #4aaaa5 solid !important;
  }
  
  
  /*style contact*/
  
  input[type="text"]{
      width: 100%;
      margin: 11px auto;
      padding: 8px
  }
  
  input[type="submit"]{
      margin: 3px auto;
      background: #4aaaa5;
      border: none;
      height: 38px;
      width: 90px;
      font-size: 20px;
      color: white;
  }
  
  textarea{
      width: 100%;
      height: 127px;
      margin: 11px auto;
      font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
      padding: 8px
  
  }
  
  form{
      padding: 10px;
     
  }
  
  form p{
      font-weight: bold;
  
  }
  
  .imgProject{
      width: 300px;
      height: 200px;
      float: left;
      margin: 10px
  }
  
  .aImgProject1{
      width: inherit;
      height: 5%;
      background: #4aaaa5;
      position: absolute;
      bottom: 236px;
      top: 350px;
      border: none;
      font-size: 20px;
      color: #777777;
  }
  
  .aImgProject2{
      width: inherit;
      height: 5%;
      background: #4aaaa5;
      position: absolute;
      bottom: 236px;
      top: 559px;
      border: none;
      font-size: 20px;
      color: #777777;;
  }
  
  
      
  }
  
  @media screen and (max-width:  768px) {
      body{
          background-color: green;
      }
  }
  @media screen and (max-width: 640px){
      header{
          position: static;
         }
  }